@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.card {
    width: 293px;
    height: 407px;
    box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.image-container {
    width: 293.54px;
    height: 296px;
    position: relative; 
    display: flex;
     align-items: center;
     justify-content: center;
}

.plant-logo {
    width: 149px;
    height: 296px;
    z-index: 10;
}

.plant-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.card-title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
}

.first-row, .second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.second-row {
    margin-top: 20px;
}

.date, .delete-btn {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
}

.delete-btn {
    background-color: #B93857;
    width: 97px;
    height: 30px;
    border-radius: 9px;
    color: white;
    border: none;
    line-height: 20px;
}

.name {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-left: 5px;
}

.trash-can {
    visibility: hidden;
}

@media screen and (max-width: 987px) {
    .card {
        width: 175px;
        height: 220px;
        box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, 0.25);
    }   

    .image-container {
        width: 175px;
        height: 160px;
        position: relative; 
        display: flex;
         align-items: center;
         justify-content: center;
    }

    .card-title {
        font-size: 14px;
    }

    .date {
        font-size: 10px;
        margin-right: 10px;
    }

    .name {
        font-size: 10px;
        margin-left: 5px;
    }
    .second-row {
        margin-top: 10px;
    }

    .delete-btn {
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    .plant-logo {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .trash-can {
        visibility: visible;
        font-size: 18px;
        color: #B93857;
        margin-right: 8px;
        cursor: pointer;
    }
}