footer {
    width: 1004px;
    box-shadow: 0px 4px 4px 0px rgba(3, 56, 47, 0.11);
}

.container {
    width: 1004px;
    height: 644px;
    background-image: url('../../assets/images/hand.avif');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: white;
    font-size: 64px;
    font-weight: 500;
    width: 233px;
    height: 75px;
    z-index: 10;
}

.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.white {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone {
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    color: white;
    bottom: 5%;
    left: 10%;
    z-index: 10;
}

.email {
    font-weight: 400;
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5%;
    z-index: 10;
    right: 10%;
}

#to-top {
    font-weight: 400;
    font-size: 24px;
    width: 1004px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 32.68px;
    cursor: pointer;
}

.phone-icon {
    color: white;
    font-size: 26px;
    z-index: 10;
    position: absolute;
    bottom: 4.6%;
    left: 3.3%;
}

.envelope-icon {
    right: 0%;
    z-index: 10;
    font-size: 32px;
    color: white;
    bottom: 4.2%;
    position: absolute;
    right: 3%;  
}

@media screen and (max-width: 987px) {
    footer {
        width: 390px;
        height:auto;
        box-shadow: 0px 4px 4px 0px rgba(3, 56, 47, 0.11);
    }   

    .container {
        width: 390px;
        height: auto;
        flex-direction: column-reverse;
    }

    .black {
        width: 390px;
        height: 401px;
    }

    .shade {
        opacity: 0.79;
    }

    .footer-text {
        font-size: 32px;
        width: 117px;
        height: 38px;
        z-index: 10;
    }

    .phone, .email {
        font-size: 12px;
    }
    .email {
        right: 12%;
    }

    .phone-icon {
        font-size: 18px;
        left: 4%;
    }

    .envelope-icon {
        font-size: 20px;
        color: white;
        bottom: 4.2%;
        position: absolute;
        right: 5%;  
    }

    .white {
        width: 390pxd;
        height: 401px;
    }

    .white img {
        width: 190px;
    }

    #to-top {
        font-size: 12px;
        width: 390px;
        height: 75px;
    }
    
    
}